<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center">Sign In Manager</h1>
  </div>
</div>
<div class="container">
     {{!-- Update Modal --}}
        {{!-- ============================================== --}}
        <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="update">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                <div class="modal-body">
                    <div><p>Please enter new details below.</p></div>
                    <label for="newName"></label>
                    <input class="form-control" type="text" placeholder="Default input" id="newName">
                    <p>On Attendee List?
                        {{!-- /////// --}}
                        <div class="form-check">
                        <input class="form-check-input" type="radio" name="yesOnList" id="yesOnList" value="option1">
                        <label class="form-check-label" for="yesOnList">
                            Yes
                        </label>
                        </div>
                        {{!-- ////// --}}
                        <div class="form-check">
                        <input class="form-check-input" type="radio" name="noOnList" id="noOnList" value="option1">
                        <label class="form-check-label" for="noOnList">
                            No
                        </label>
                        </div>
                    </p>
                    <p>Present at meeting?
                        {{!-- /////// --}}
                        <div class="form-check">
                        <input class="form-check-input" type="radio" name="present" id="present" value="option1">
                        <label class="form-check-label" for="present">
                            Yes
                        </label>
                        </div>
                        {{!-- ////// --}}
                        <div class="form-check">
                        <input class="form-check-input" type="radio" name="absent" id="absent" value="option1">
                        <label class="form-check-label" for="absent">
                            No
                        </label>
                        </div>
                    </p>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="saveChanges">Save changes</button>
                    </div>
                </div>
                </div>
            </div>
        </div>
        {{!-- ============================================== --}}
    {{!-- End of Update Modal --}}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <p class="lead">Use the form below to add and manage attendees to your meetings.</p>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row">
        {{!-- List of present/absent attendees --}}
        <div class="col-md-3">
            <h5>Present</h5>
            {{#each signIns}}
            {{#if this.signedIn}}
            <p>
                <button class="update btn btn-info btn-edit" data-id="{{this.id}}" data-type="editName">
                    <i class="fas fa-pencil-alt"></i>
                </button>
                {{this.name}}
                <button class="btn btn-info btn-edit btn-delete" data-id="{{this.id}}">
                    <i class="fas fa-times"></i>
                </button>
            </p>
            {{/if}}
            {{/each}}
            <h5>Absent</h5>
            {{#each signIns}}
            {{#unless this.onList}}
            <p>
                {{!-- Absent List --}}
                {{!-- ============================================== --}}
                <button type="button" class="update btn btn-primary btn-edit" data-toggle="modal" data-target="#update"><i class="fas fa-pencil-alt"></i></button>
                {{this.name}}
                 <button class="btn btn-info btn-edit btn-delete" data-id="{{this.id}}">
                    <i class="fas fa-times"></i>
                </button>
            </p>
            {{/unless}}
            {{/each}}
        </div>
        <div class="col-md-6">
            <form id="add-attendee">
                <div class="input-group mb-3 form">
                    <input type="text" class="form-control" placeholder="New attendee" name='attendee'>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Add</button>
                    </div>
                </div>
            </form>
            <div class="list">
                {{#each signIns}}
                {{#if this.onList }}
                {{#unless this.signedIn}}
                    <p class="lead attendees">
                        {{this.name}}   
                        <button class="update btn btn-info btn-edit" data-id="{{this.id}}" data-type="editName">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                        <button class="update btn btn-info" data-id="{{this.id}}" data-type="present">
                            <i class="fas fa-user-check"></i>
                        </button>
                        <button class="update btn btn-info" data-id="{{this.id}}" data-type="absent">
                            <i class="fas fa-user-times"></i>
                        </button>
                        
                    </p>
                {{/unless}}
                {{/if}}
                {{/each}}
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>